<!DOCTYPE html>
<html lang="en" ng-app="cowsayApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cow Say What?</title>
  </head>
  <body>
    <main>
      <section
        class="container"
        ng-controller="CowsayController as cowsayCtrl"
        ng-init="cowsayCtrl.current = 'dragon'">
        <h2>{{cowsayCtrl.title}}</h2>
        <pre class="cow">
          {{ cowsayCtrl.update(cowsayCtrl.text) }}
        </pre>
        <form ng-submit="cowsayCtrl.speak(cowsayCtrl.text)" name="cowWords">
          <select ng-model="cowsayCtrl.current">
            <option ng-repeat="cowfile in cowsayCtrl.cowfiles" value="{{cowfile}}">{{cowfile}}</option>
          </select>
          <input type="text" ng-model="cowsayCtrl.text">
          <button type="submit">Speak</button>
        </form>
        <div ng-show="cowsayCtrl.spoken">
          <pre>
            {{ cowsayCtrl.spoken }}
          </pre>
          <button ng-click="cowsayCtrl.undo()">Undo!</button>
        </div>
      </section>
    </main>
  </body>
</html>